{{- $groups := promptMultichoiceOnce
    . "groups"
    "What groups does this PC belong to?"
    (list "personal" "work")
-}}

[git]
autoCommit = true
autoPush = true

[edit]
command = "code"
args = ["--wait", "--new-window"]

[data]
groups = {{- $groups | toToml -}}