{{- $groups := promptMultichoiceOnce
    . "groups"
    "What groups does this PC belong to?"
    (list "personal" "work")
-}}

[git]
autoCommit = true
autoPush = true

[data]
groups = {{- $groups | toToml -}}